
header {
    text-align: center;
    border-radius: 10px; /* Agregamos un borde redondeado */
    padding: 20px; /* Agregamos espacio interno para el contenido del header */
    border-width: 5px; /* Ancho del borde */
    border-style: solid; /* Estilo del borde */
    border-image: linear-gradient(45deg, #ff6699, #6699ff) 1; /* Degradado para el borde */
}

nav {
    text-align: center;
    margin-top: 20px; /* Espacio entre el header y el navbar */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px; /* Espacio entre elementos */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ba2b2b; /* Agregamos un borde */
    text-decoration: none;
    color: #ba2b2b; /* Color del texto */
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album {
    margin-bottom: 20px;
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.album-info {
    padding: 15px;
}

.album-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
}


.album-info p {
    margin-top: 0;
    margin-bottom: 15px;
}

.album-info ul {
    padding: 0;
    margin: 0;
}

.album-info li {
    margin-bottom: 5px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}


.carousel-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%; /* Ajuste del ancho */
}

.carousel-slide img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.carousel-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    overflow: hidden;
}

.carousel-caption h5 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-caption p {
    margin: 0;
    font-size: 16px;
}